@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap');
.header{
    display: flex;
    justify-content:space-between;
    color: rgb(255, 255, 255);
    width: 100%;
    height: fit-content;
    /* height: 200px; */
    font-family: 'Spartan', sans-serif;
    font-size: 50px;
    font-weight: 500px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}
#outline{
    /* outline-color: rgb(255, 255, 255); */
    outline: 1px solid rgb(255, 255, 255);

}
.header__text{
    z-index: 0;
    position: relative;
}
.broken-line{
    position: absolute;
    z-index: 1;

}
.header__icons{
    width: 40%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    right: 0%;
    z-index: 3;
}