.pageBackground{
    display: flex;
    justify-content: center;
}
.page_container{
    width: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: black; */
    border-radius: 20px;
    margin-top: 2rem;
    background: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(10px);
    padding: 40px;
    padding-right: 50px;
}